.header-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  @include font(14px, 1.14, 0.02em);

  transition: color var(--transition-dur-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
