h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-list {
  display: flex;
  column-gap: 30px;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-bgc);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

input {
  padding: 0;
}
